.activities {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    width: 100%;
    min-width: 17.5rem;
    max-width: 40rem;
}

@media screen and (min-width: 41.75em) {
    .activities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 73.75em) {
    .activities {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.875rem;
        height: 100%;
    }
}