.activity {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem 1rem 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: -0.6875rem;
}

.activity__bar {
    height: 2.375rem;
}

.activity__info {
    width: 100%;
    padding: 1.6875rem 1.4375rem 1.6875rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--dark-blue);
}

.activity__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1875rem;
}

.activity__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity__title {
    color: var(--very-pale-blue);
    font-size: 1.125rem;
}

.activity__current-time {
    margin-right: 0.25rem;
    color: var(--very-pale-blue);
    font-size: 2rem;
}

.activity__last-time {
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.05px;
}