.activity {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem 1rem 1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.activity__bar {
    height: 2.375rem;
}

.activity__info {
    width: 100%;
    padding: 1.6875rem 1.4375rem 1.6875rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--dark-blue);
    transition: all 0.25s ease-in-out;
}

.activity__info:hover {
    background-color: var(--activity-hover-blue);
    cursor: pointer;
}

.activity__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1875rem;
}

.activity__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity__title {
    color: var(--very-pale-blue);
    font-size: 1.125rem;
}

.activity__button {
    padding: 0.125rem 0;
}

.activity__button:hover {
    cursor: pointer;
}

.activity__button svg path {
    transition: all 0.25s ease-in-out;
}

.activity__button:hover svg path {
    fill: var(--very-pale-blue);
    cursor: pointer;
}

.activity__current-time {
    margin-right: 0.25rem;
    color: var(--very-pale-blue);
    font-size: 2rem;
}

.activity__last-time {
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.05px;
}

@media screen and (min-width: 73.75em) {
    .activity {
        min-width: 15.9375rem;
        border-radius: 0.9375rem 0.9375rem 1.5rem 1.5rem;
    }

    .activity__bar {
        height: 2.8125rem;
    }

    .activity__info {
        flex: 1;
        padding: 1.75rem 1.875rem 1.875rem 1.875rem;
        border-radius: 0.9375rem;
    }

    .activity__header {
        margin-bottom: 1.25rem;
    }

    .activity__data {
        flex-direction: column;
        align-items: flex-start;
    }

    .activity__current-time {
        margin-bottom: 0.25rem;
        font-size: 3.5rem;
    }
}