.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 68.5em) {
    .dashboard {
        flex-direction: row;
        width: 1110px;
    }
}